In [ ]:
# Import necessary libraries
import pandas as pd
import numpy as np

# Create a pandas DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Age': [25, 30, 35, 40, 45],
    'Salary': [50000, 60000, 70000, 80000, 90000]
}

create DataFrame

In [ ]:
#YOUR CODE

display it

In [ ]:
#YOUR CODE


Accessing and modifying specific values in the DataFrame

Change Alice's age to 26

In [ ]:
#YOUR CODE

Increase Bob's salary by 5000

In [ ]:
#YOUR CODE
#display

Given data2 concatenate it with data1 and display the new results

In [ ]:
data2 = {
    'Name': ['Frank', 'Grace', 'Hannah', 'Ivy', 'Jack'],
    'Age': [30, 35, 40, 45, 50],
    'Salary': [75000, 85000, 95000, 105000, 115000]}

#YOUR CODE

Sort the results by Salary, Age and Name

In [ ]:
#YOUR CODE

Plot Age vs. Salary

In [ ]:
#YOUR CODE